<div class="custom">

  <div class="container">
    <div class="row">
        <img class="card-img-top" src="..." alt="Card image cap" [src]="randomArticle.card.image" style="width: 10.9em; height: 15em">
        <div class="card-body">
          <h5 class="card-title">{{randomArticle.card.name}}</h5>
          <p class="card-text">Type: {{randomArticle.card.type}}</p>
          <p class="card-text">Price: {{randomArticle.price | currency:'EUR':'symbol'}}</p>
          <p class="card-text">Condition: {{randomArticle.condition}}</p>
          <button (click)="buyArticle(randomArticle.id, randomArticle.card.name)" class="btn btn-success">Buy Article</button>
      </div>
    </div>
  </div>

</div>
