<form [formGroup]="articleForm" (ngSubmit)="updateArticle()">
  <div class="form-group">

    <div class="col-md-6 mb-3">
      <label for="price">Price: </label>
      <input class="form-control" type="text" formControlName="price" id="price">
      <div *ngIf="priceControl?.touched && priceControl?.invalid" class="alert alert-danger">
        <div *ngIf="priceControl?.errors?.['min']">Price should be at least 0.01</div>
        <div *ngIf="priceControl?.errors?.['required']">Enter price.</div>
        <div *ngIf="priceControl?.errors?.['pattern']">Invalid entry</div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label>Condition: </label>
      <select class="form-select" formControlName="condition">
        <option *ngFor="let condition of conditionEnum | keyvalue" [value]="condition.key">{{condition.value}}</option>
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label>Language: </label>
      <select class="form-select" formControlName="language">
        <option *ngFor="let language of languageEnum | keyvalue" [value]="language.key">{{language.value}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="articleForm.invalid">Update</button>
  </div>
</form>
