<form [formGroup]="articleForm" (ngSubmit)="updateArticle()">

  <label for="price">Price: </label>
  <input type="number" id="price" formControlName="price" [ngClass]="{'error': priceControl?.invalid}">
  <div style="color: red; font-family: 'Bauhaus 93'" *ngIf="priceControl?.errors?.['min']">price invalid!</div>

  <br>
  <br>

  <label>Condition: </label>
  <select formControlName="condition">
    <option *ngFor="let condition of conditionEnum | keyvalue" [value]="condition.key">{{condition.value}}</option>
  </select>

  <br>
  <br>

  <label>Language: </label>
  <select formControlName="language">
    <option *ngFor="let language of languageEnum | keyvalue" [value]="language.key">{{language.value}}</option>
  </select>

  <br>

  <!--  <ng-container formGroupName="card">-->
  <!--    <label for="cardId"></label>-->
  <!--    <input type="text" id="cardId" formControlName="id">-->
  <!--  </ng-container>-->

  <br>

  <button type="submit" [disabled]="articleForm.invalid" >Post your card</button>
<!--  <button type="submit" [disabled]="articleForm.invalid" onclick="javascript:window.location='http://localhost:4200/show-articles'">Post your card</button>-->
</form>
