
.container {
  margin-bottom: 70px;
}

.card-title {
  font-size: small;
}

.card-text {
  font-size: small;
}

.card-img-top img-fluid {
  width: 200px;
  height: 200px;
}

.btn btn-primary {
  font-size: 0.5em;
}
