<div class="d-flex flex-column"><app-carousel></app-carousel></div>

<div class="custom">
  <div class="d-flex flex-row">
    <div class="p-2">
    <div class="d-flex flex-column">
      <div class="custom-margin-between-elements">
      <div class="d-flex start"><app-pokenews></app-pokenews></div>
      </div>
    </div>
    <div class="d-flex flex-column-reverse">
      <div class="d-flex justify-content-start"><app-youtube-video></app-youtube-video></div>
    </div>
    </div>
    <div class="p-2">
  <div class="d-flex flex-column-reverse">
    <div class="d-flex justify-content-start"><app-random-card></app-random-card></div>
  </div>
    </div>
  </div>
</div>
