.container {
  position: absolute;
}

.custom {
  margin-bottom: 70px;
  margin-left: 150px;
}

.custom-margin-between-elements {
  margin-bottom: 10px;
}

h2 {
  margin-left: 150px;
}

.welcome-message {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

span {
  font-weight: bold;
}
