#button-details {
  border: none;
}

.custom {
  margin: 5em 5em 5em 5em;
}

#help-tool {
  margin-left: 0.8em;
  font-style: italic;
}

.card-body {
  margin-right: 1em;
  margin-left: 0.5em;
  margin-top: 1em;
}

.card-title {
  font-size: 90%;
  margin-bottom: 1em;
}
