<div class="custom">
  <h1>Buy</h1>
  <br>
  <input id="cardSearch" class="form-control me-2" type="text" placeholder="Search Card" aria-label="Search"
         [(ngModel)]="filter">
  <br>
  <p id="help-tool">*Click on a card to see all the available articles</p>

  <div class="container">

    <div class="d-flex flex-wrap">
      <div class="p-2" *ngFor="let card of filterCards(cardList)">

        <div class="card-body">
          <h6 class="card-title"><b>{{card.name}}</b></h6>
        </div>
        <button class="card" id="button-details" style="width: 12rem;" [routerLink]="['/buy-article', card.id]">

          <img class="card-img-top col-sm" alt="Card image cap" [src]="card.image"
               style="width: 10.9em; height: 15em">
        </button>
        <div class="card-body">
          <p class="card-text"><span class="d-flex justify-content-between"><i>Set-No.:</i>{{card.serialNumber}}</span>
          </p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Type:</i>{{card.type}}</span></p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Rarity:</i>{{card.rarity}}</span></p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Set:</i>{{card.cardSet}}</span></p>
          <p class="card-text"><span
            class="d-flex justify-content-between"><i>Availability: </i><b>{{card.availability}}</b></span></p>
        </div>

      </div>
    </div>
  </div>
</div>
