<img *ngIf="selectedType?.imgUrl; else emptyImg" [src]="selectedType.imgUrl" style="width: 20em; height: 20em">
<ng-template #emptyImg>
  <img src="assets/empty-picture.jpg" style="width: 20em; height: 20em">
</ng-template>

<form [formGroup]="articleForm" (ngSubmit)="submitArticle()">

  <label for="price">Price: </label>
  <input type="text" id="price" formControlName="price">

  <br>

  <label>Condition</label>
  <select formControlName="condition">
    <option *ngFor="let condition of conditionEnum | keyvalue" [value]="condition.key">{{condition.value}}</option>
  </select>

  <br>

  <label>Language</label>
  <select formControlName="language">
    <option *ngFor="let language of languageEnum | keyvalue" [value]="language.key">{{language.value}}</option>
  </select>

  <br>

  <ng-container formGroupName="card">
    <label for="cardId">Card Id: </label>
    <input type="text" id="cardId" formControlName="id">
  </ng-container>

  <br>

  <button type="submit" [disabled]="articleForm.invalid">Post your card</button>
</form>

<!--{{articleForm.value | json}}-->
