<div class="dropdown">
  <select class="custom-select">
    <option value="" disabled selected hidden>Choose your card...</option>
    <option value="1" *ngFor="let card of cards" (click)="selectedCard(card)">{{card.name}}</option>
  </select>
</div>

<div *ngIf="mySelectedCard" class="custom">

  <img *ngIf="mySelectedCard?.image; else emptyImg" [src]="mySelectedCard.image" style="width: 10.9em; height: 15em">
  <ng-template #emptyImg>
    <img src="assets/empty-picture.jpg" style="width: 20em; height: 20em" class="rounded">
  </ng-template>

  <form [formGroup]="articleForm" (ngSubmit)="submitArticle()">
    <div class="form-group">

      <div class="col-md-6 mb-3">
        <label for="price">Price: </label>
        <input class="form-control" type="text" formControlName="price" id="price">
        <div *ngIf="priceControl?.touched && priceControl?.invalid" class="alert alert-danger">
          <div *ngIf="priceControl?.errors?.['min']">Price should be at least 0.01</div>
          <div *ngIf="priceControl?.errors?.['required']">Enter price.</div>
          <div *ngIf="priceControl?.errors?.['pattern']">Invalid entry</div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label>Condition: </label>
        <select formControlName="condition">
          <option *ngFor="let condition of conditionEnum | keyvalue" [value]="condition.key">{{condition.value}}</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label>Language: </label>
        <select formControlName="language">
          <option *ngFor="let language of languageEnum | keyvalue" [value]="language.key">{{language.value}}</option>
        </select>
      </div>

      <button type="submit" [disabled]="articleForm.invalid">Post your card</button>

    </div>
  </form>
</div>
