<input class="form-control me-2" type="text" placeholder="Search an Article" aria-label="Search"
       [(ngModel)]="filter">

<!--<div *ngFor="let article of articleList">-->
<!--  <h4>Article:</h4>-->
<!--  <li >-->
<!--    <ul>Price:{{article.price}} </ul>-->
<!--    <ul>Condition: {{article.condition}} </ul>-->
<!--    <ul>Language:{{article.language}}</ul>-->
<!--    <ul>Card Id: {{article.card.id}}</ul>-->
<!--  </li>-->
<!--</div>-->

<!--  </div>-->
<!--</div>-->
<p id="helptool">*Tipp: you can click on an article for further action</p>

<!--test-->

<div class="container" >
  <div class="row">

    <div class="col-sm" *ngFor="let article of filterArticles(articleList)" style="width: 12rem;">
      <button class="card" id="buttondetails" style="width: 12rem;" (click)="transferArticle(article)"  data-bs-toggle="modal" data-bs-target="#updateArticleModal">

        <img class="card-img-top" src="..." alt="Card image cap" [src]="article.card.image">
        <div class="card-body">
          <h5 class="card-title">{{article.card.name}}</h5>
          <p class="card-text">Type: {{article.card.type}}</p>
          <p class="card-text">Id: {{article.id}}</p>
          <p class="card-text">Price: {{article.price | currency:'EUR':true}}</p>
        </div>
      </button>
    </div>
  </div>
</div>


<div class="modal fade" id="updateArticleModal" tabindex="-1" aria-labelledby="updateArticleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateArticleModalLabel">Pokemoncard-Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-article-details [transferedArticle]="placeholderArticle"></app-article-details>
      </div>
    </div>
  </div>
</div>

