<!--<div *ngFor="let article of articleList">-->
<!--  <h4>Article:</h4>-->
<!--  <li >-->
<!--    <ul>Price:{{article.price}} </ul>-->
<!--    <ul>Condition: {{article.condition}} </ul>-->
<!--    <ul>Language:{{article.language}}</ul>-->
<!--    <ul>Card Id: {{article.card.id}}</ul>-->
<!--  </li>-->
<!--</div>-->


<ul>
  <li *ngFor="let article of articleList" class="list-style">
    <img *ngIf="article.card.image; else emptyImg" [src]="article.card.image" [routerLink]="['/article-details', article.id]" style="width: 10.9em; height: 15em">

  <ng-template #emptyImg>
    <img src="assets/empty-picture.jpg" style="width: 30em; height: 30em">
  </ng-template>
  Price: {{article.price}} - Condition: {{article.condition}} - Language: {{article.language}}
</ul>
