.custom {
  margin: 5em 5em 5em 5em;
}

.list-style {
  list-style: none;
}

#buttondetails {
  border: none;
}

#helptool {
  margin-left: 0.8em;
}

.flag-icon {
  width: 15%;
  height: 9%;
  border: solid thin black;
}
