<input class="form-control me-2" type="text" placeholder="Search an Article" aria-label="Search"
       [(ngModel)]="filter">

<!--<div *ngFor="let article of articleList">-->
<!--  <h4>Article:</h4>-->
<!--  <li >-->
<!--    <ul>Price:{{article.price}} </ul>-->
<!--    <ul>Condition: {{article.condition}} </ul>-->
<!--    <ul>Language:{{article.language}}</ul>-->
<!--    <ul>Card Id: {{article.card.id}}</ul>-->
<!--  </li>-->
<!--</div>-->

<!--  </div>-->
<!--</div>-->
<!--<p id="helptool">*Tipp: you can click on an article for further action</p>-->

<!--test-->

<div class="container" >
  <div class="row">

    <div class="col-sm" *ngFor="let article of filterArticles(articleList)" style="width: 12rem;">
      <button class="card" style="width: 12rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">

        <img class="card-img-top" src="..." alt="Card image cap" [src]="article.card.image">
        <div class="card-body">
          <h5 class="card-title">{{article.card.name}}</h5>
          <p class="card-text">Type: {{article.card.type}}</p>
          <p class="card-text">Id: {{article.id}}</p>
          <p class="card-text">Price: {{article.price}}</p>
        </div>
      </button>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        s
        <app-article-details [transferedArticle]="article"></app-article-details>
      </div>
      </div>
  </div>
</div>
