<button (click)="showArticle()">Show Article</button>

<div *ngIf="selectedCardId">

<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor="let article of articleList" style="width: 12rem;">
        <img class="card-img-top" src="..." alt="Card image cap" [src]="article.card.image">
        <div class="card-body">
          <h5 class="card-title">{{article.card.name}}</h5>
          <p class="card-text">Type: {{article.card.type}}</p>
          <p class="card-text">Price: {{article.price | currency:'EUR':'symbol'}}</p>
          <p class="card-text">Condition: {{article.condition}}</p>
          <button (click)="buyArticle(article.id, article.card.name)">Buy Article</button>
        </div>
    </div>
  </div>
</div>

</div>


<!--<div *ngIf="selectedCard">-->

<!--  <img *ngIf="selectedCard.image; else emptyImg" [src]="selectedCard.image" style="width: 10.9em; height: 15em">-->

<!--  <ng-template #emptyImg>-->
<!--    <img src="assets/empty-picture.jpg" style="width: 30em; height: 30em">-->
<!--  </ng-template>-->
<!--  <ul>-->
<!--    <li>{{selectedCard.name}}</li>-->
<!--    <li>Type: {{selectedCard.type}}</li>-->
<!--    <li></li>-->
<!--&lt;!&ndash;    <button type="button" (click)="selectedCard()" >Edit</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="button" (click)="deleteArticle(transferedArticle.id)">Delete</button>&ndash;&gt;-->
<!--  </ul>-->
<!--</div>-->
