<form [formGroup]="articleForm" (ngSubmit)="submitArticle()">
  <label for="price">Price: </label>
  <input type="text" id="price" formControlName="price">
  <br>
  <label for="condition">Condition: </label>
  <input type="text" id="condition" formControlName="condition">
  <br>
  <label for="language">Language: </label>
  <input type="text" id="language" formControlName="language">
  <br>
  <label for="cardId">Card Id: </label>
  <input type="text" id="cardId" formControlName="cardId">
  <br>
  <button type="submit">Post your card</button>
</form>
