<img *ngIf="selectedType?.imgUrl; else emptyImg" [src]="selectedType.imgUrl" style="width: 20em; height: 20em">
<ng-template #emptyImg>
  <img src="assets/empty-picture.jpg" style="width: 20em; height: 20em">
</ng-template>

<form [formGroup]="articleForm" (ngSubmit)="submitArticle()">

  <label for="price">Price: </label>
  <input type="text" id="price" formControlName="price">

  <br>

  <label for="condition">Condition: </label>
  <input type="text" id="condition" formControlName="condition">

  <br>

  <label for="language">Language: </label>
  <input type="text" id="language" formControlName="language">

  <br>

  <ng-container formGroupName="card">
    <label for="cardId">Card Id: </label>
    <input type="text" id="cardId" formControlName="id">
  </ng-container>

  <br>

  <button type="submit">Post your card</button>
</form>

<!--{{articleForm.value | json}}-->
