<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-10 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center ">404</h1>


          </div>
          <div>
            <img
              src="https://i.kym-cdn.com/photos/images/original/000/936/556/9a0.gif" alt="Picture of surprised Pikachu"
              style="width: 60%; height: 60%">
          </div>
          <div class="contant_box_404">
            <h3 class="h2">
              It looks like you're lost
            </h3>

            <p>the page you are looking for isn't available!</p>

            <a href="" class="link_404">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
