
<h2 id="helptool">You might like this!</h2>

<div class="container">
  <div class="row">

      <button class="card" id="buttondetails" style="width: 12rem;" [routerLink]="['/buy-article', randomCard.id]" >

        <img *ngIf="randomCard?.image; else emptyImg" class="card-img-top" [src]="randomCard.image" style="width: 10.9em; height: 15em">
        <ng-template #emptyImg>
          <img src="assets/empty-picture.jpg" style="width: 20em; height: 20em" class="rounded">
        </ng-template>
        <div class="card-body">
          <h5 class="card-title">{{randomCard.name}}</h5>
          <p class="card-text">Set-No.: {{randomCard.serialNumber}}</p>
          <p class="card-text">Type: {{randomCard.type}}</p>
          <p class="card-text">Rarity: {{randomCard.rarity}}</p>
          <p class="card-text">Set: {{randomCard.cardSet}}</p>
          <p class="card-text">Availability: <b>{{randomCard.availability}}</b></p>
        </div>

      </button>

  </div>
</div>
