
<h2>You might like this?</h2>

<div class="container">
  <div class="row">

    <div class="card-body">
      <h6 class="card-title"><b>{{randomCard.name}}</b></h6>
    </div>

      <button class="card" id="button-details" style="width: 12rem;" [routerLink]="['/buy-article', randomCard.id]" >

        <img *ngIf="randomCard?.image; else emptyImg" class="card-img-top col-sm" alt="Card image cap" [src]="randomCard.image" style="width: 10.9em; height: 15em">
        <ng-template #emptyImg>
          <img src="assets/empty-picture.jpg" style="width: 20em; height: 20em" class="rounded">
        </ng-template>
        <div class="card-body">
          <p class="card-text"><span class="d-flex justify-content-between"><i>Set-No.:</i>{{randomCard.serialNumber}}</span></p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Type:</i>{{randomCard.type}}</span></p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Rarity:</i>{{randomCard.rarity}}</span></p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Set:</i>{{randomCard.cardSet}}</span></p>
          <p class="card-text"><span class="d-flex justify-content-between"><i>Availability: </i><b>{{randomCard.availability}}</b></span></p>
        </div>

      </button>

  </div>
</div>
